/* ================================= 
  Button Transitions
==================================== */

.button {
  transition: background 0.3s;
}
.button:hover {
  background: rgba(74, 137, 202, 1);
}

/* ================================= 
  Photo 3D Transforms & Transitions
==================================== */
.content {
  perspective: 700px;
} /* To establish a 3d perspective you need define the perspective property
Common to see perspective values from 500px to 1500px for 3d transforms */
.photo {
  transition: transform 1s ease-out;
  transform-style: preserve-3d;
}

/* .photo:hover {
  transform: rotateY(-180deg);
} */

.photo:hover {
  transform: rotate3d(1, 0, 0, 200deg);
}
/* rotate3d allows you to rotate elements on x, y, & axis all at the same time */

.side-a,
.side-b {
  backface-visibility: hidden;
}

.side-b {
  transform: rotateY(180deg);
}
/* To see the blue background on hover you need to define the transform-style; the children of the element should be positioned in 3d-space/needs transform-style: preserve-3d; & backface-visibility: hidden*/

/*.content {
  perspective: 700px;
  perspective-origin: 100% 100%;
}
The perspective-origin sets where the viewer sees the object in 3d-space */
